<% if model.errors.any? %>
  <div class="error-alert">
    <ul>
      <h3 class='error-message'>Error Message</h3>
      <% model.errors.full_messages.each do |message| %>
        <li class='error-message'><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>