<!DOCTYPE html>
<html>

  <body>

    <h1 class="show-title">これまでの記録</h1>

    <h3 class="weekly-time-graph">1週間の記録</h3>
    <%#グラフ表示%>
    <%= column_chart @daily_study_times, xtitle: "日付", ytitle: "時間", max: @max_study_time, library: {
      scales: { yAxes: [{ ticks: {beginAtZero: true,} }],
                xAxes: [{ ticks: {beginAtZero: true} }]
              }
            } %>
    
    <div class="cumulative-time">
      <h3 class="cumulative-time-title">累計</h3>
      <%= @cumulative_time %>
    </div>

    <div class="weekly-time">
      <h3 class="weekly-time-title">1週間の累計</h3>
      <%= @weekly_time %>
    </div>
    
    <div class="month-time">
      <h3 class="month-time-title">1ヶ月の累計</h3>
      <%= @month_time %>
    </div>

  </body>
</html>
