<!DOCTYPE html>
<html>
  <head>
    
  </head>
 <body>

  <h1 class="show-title">これまでの記録</h1>

  <h3 class="weekly-time-graph">1週間の記録</h3>


  <div class="cumulative-time">
    <h3 class="cumulative-time-title">累計</h3>
    <%= @cumulative_time %>
  </div>

  <div class="weekly-time">
    <h3 class="weekly-time-title">1週間の累計</h3>
    <%= @weekly_time %>
  </div>

  <div class="month-time">
    <h3 class="month-time-title">1ヶ月の累計</h3>
    <%= @month_time %>
  </div>

 </body>
</html>
