.setting-title {
  margin: 20px 30px 30px 30px;
}

.setting-container {
  padding: 0 0 30px 40px;
}

.count-up {
 padding-bottom: 20px;
}

.edit-button {
  padding:5px 20px;
  margin: 0 0 0 30px;
}

.form-group {
  padding-top: 10px;
}