.menu-bar {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.image {
  width: 24px;
  height: 24px;
}

.icon {
  margin-left: 20px;
}

.menu-bar-user{
  display: flex;
  flex-direction: column; /* 垂直方向に配置 */
  align-items: center;
}